html {
	scroll-behavior: smooth;
	height: 100vh;
}
body {
	font-family: var(--poppins-family);
	color: var(--main-color);
	margin: 0;
}

ul,
ol,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
button {
	color: inherit;
	margin: 0;
	padding: 0;
	outline: none;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
}
a {
	outline: none;
	text-decoration: none;
}
input {
	outline: none;
}

.container {
	max-width: 480px;
	margin: 0 auto;
	padding: 0 20px;

	@media screen and (min-width: $tablet) {
		max-width: 768px;
		padding: 0 32px;
	}
	@media screen and (min-width: $desctop) {
		max-width: 1280px;
		padding: 0 16px;
	}
}

.flex-container {
	display: flex;
}

.hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
