<footer class="footer">
  <div class="footer__container">
    <h3 class="hidden">social links</h3>
    <ul class="sosial_links">
      <li class="sosial_links__items">
        <a href="http://#" target="_blank" rel="noopener noreferrer"
          ><svg class="sosial_links__icon">
            <use href="./img/icon/sprite-footer.svg#icon-twitter"></use></svg
        ></a>
      </li>
      <li class="sosial_links__items">
        <a href="http://#" target="_blank" rel="noopener noreferrer"
          ><svg class="sosial_links__icon">
            <use href="./img/icon/sprite-footer.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="sosial_links__items">
        <a href="http://#" target="_blank" rel="noopener noreferrer"
          ><svg class="sosial_links__icon">
            <use href="./img/icon/sprite-footer.svg#icon-facebook2"></use></svg
        ></a>
      </li>
    </ul>
    <div class="info">
      <div class="country">
        <svg class="country__flag">
          <use
            href="./img/icon/sprite-footer.svg#icon-artage-io-530412_1673440827"
          ></use>
        </svg>
        <p class="country__name footer-title">Ukraine 2023</p>
      </div>
      <a
        class="dev"
        href="https://github.com/Dr-Artem/cocktail_Bar_project"
        target="_blank"
        rel="noopener noreferrer"
      >
        <p class="dev__name footer-title">Powered by</p>
        <svg class="dev__logo">
          <use href="./img/icon/sprite-footer.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>

