<section class="section-hero">
  <div class="hero">
    <h1 class="hero__title">
      A party without cocktails <br />
      is not like a party
    </h1>
    <div class="baner-wrapper"></div>
    <p class="hero__text">Search your favorite cocktail by ABC</p>
    <div class="ABC-search">
      <ul class="ABC-search__letters"></ul>
      <ul class="ABC-search__numbers"></ul>
    </div>

    <div class="dropdown-wrapper">
      <div class="dropdown">
        <input
          class="ABC-input"
          type="text"
          name="ABC-search"
          id="input-search"
          placeholder="A"
          value=""
          disabled = 'disabled';
        />
        <button class="dropdown__btn" type="button">
          <svg class="dropdown__btn__icon">
            <use href="./img/icon/spite.svg#icon-v"></use>
          </svg>
        </button>
        <div class="dropdown__content"></div>
      </div>
    </div>
  </div>
</section>
