.backdrop {
	position: fixed;
	z-index: 21;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);

	transition: visibility 250ms, opacity 250ms;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding-bottom: 40px;
	justify-content: space-between;

	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;

	max-width: 822px;

	background-color: var(--main-white-color);
	@media screen and (min-width: $tablet) {
		max-width: 728;
		margin: 0;

		padding: 0 0 32px 0;
	}

	@media screen and (max-width: $pre-tablet) {
		max-width: 320;
	}

	&__cocktail__info {
		overflow-y: auto;
	}
}
.modal.dark {
	color: var(--main-white-color);
	fill: var(--main-white-color);
	background-color: var(--main-color);
}

.backdrop-ingridient {
	position: fixed;
	z-index: 21;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	transition: visibility 250ms, opacity 250ms;

	&.is-hidden {
		opacity: 0;
		visibility: hidden;
	}
}

.modal-ingridient {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	justify-content: space-between;

	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 28px;
	display: flex;
	flex-direction: column;

	min-width: 822px;
	height: 597px;

	background-color: white;
	@media screen and (min-width: $tablet) {
		margin: 0;
	}
}
.modal-ingridient.dark {
	background-color: var(--main-color);
}
.modal-ingridient.dark .ingredient__title {
	color: var(--main-white-color);
}

.flex-wrapper {
	@media screen and (min-width: $tablet) {
		display: flex;
		flex-direction: column-reverse;
	}
}

.ingredient__text {
	overflow-y: auto;
	margin-bottom: 28px;
	height: 194px;
}

.modal-cocktail__wrapper {
	margin-bottom: 10px;
	max-height: 134px;
	overflow-y: auto;
	@media screen and (min-width: $tablet) {
		padding-left: 28px;
		margin-bottom: 12px;
		max-width: 615px;
	}
}
.modal-cocktail__title {
	margin-bottom: 20px;
	padding-top: 40px;
	font-family: var(--roboto-alternate-family);
	font-weight: 900;
	font-size: 32px;
	line-height: 1.2;
	@media screen and (min-width: $tablet) {
		display: none;
	}
}

.modal-cocktail__title--tablet {
	margin-bottom: 28px;
	padding-top: 40px;

	font-family: var(--roboto-alternate-family);
	font-weight: 900;
	font-size: 32px;
	line-height: 1.2;
	display: none;
	@media screen and (min-width: $tablet) {
		display: block;
	}
}

.modal-cocktail__subtitle {
	margin-bottom: 20px;

	font-weight: var(--poppins-font-weight-600);
	font-size: 16px;
	line-height: 1.8;
	text-transform: uppercase;
}

.modal-cocktail__info {
	color: var(--alternative-text-color);
	font-weight: var(--poppins-font-weight-400);
	font-size: 16px;
	line-height: 1.8;
}

.modal-cocktail__img-wrapper {
	margin-bottom: 22px;
	@media screen and (min-width: $tablet) {
		margin-right: 32px;
		margin-bottom: 0px;
	}
}

.modal-cocktail__img {
	width: 280px;
	height: 280px;
	@media screen and (min-width: $tablet) {
		margin-bottom: 0px;
		width: 288px;
		height: 320px;
	}
}

.ingridients__wrapper {
	margin-bottom: 32px;
	@media screen and (min-width: $tablet) {
		display: flex;
		margin-bottom: 28px;
	}
}

.ingridients__title {
	margin-bottom: 8px;
	font-weight: var(--poppins-font-weight-600);
	font-size: 16px;
	line-height: 1.5;
	text-transform: uppercase;
}

.ingridients__subtitle {
	margin-bottom: 8px;
	font-weight: var(--poppins-font-weight-400);
	font-size: 14px;
	line-height: 1.5;
}

.ingridients__item {
	color: var(--alternative-text-color);
}

.ingridients__link {
	color: var(--alternative-text-color);
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	cursor: pointer;
	&:hover,
	&:focus {
		color: var(--accent-text-color);
	}
}

.ingridients__decoration {
	color: var(--main-color);
}

.favorite-btn__wrapper {
	@media screen and (min-width: $tablet) {
		display: flex;
		justify-content: flex-end;
		padding-right: 28px;
	}
}

.favorite-btn {
	padding: 12px 24px;

	background-color: var(--accent-text-color);
	border-radius: 4px;
	border-color: transparent;
	color: var(--main-white-color);

	font-family: var(--roboto-alternate-family);
	font-weight: var(--roboto-alternate-font-weight-400);
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	&:hover,
	&:focus {
		background-color: var(--accent-button-color);
	}
	@media screen and (min-width: $tablet) {
		justify-content: flex-end;
	}
}

.close-btn {
	position: absolute;
	display: flex;
	right: 20px;
	top: 20px;
	background: none;
	border: none;
	cursor: pointer;
	&:hover,
	&:focus {
		fill: var(--accent-text-color);
	}
}
