.header {
	position: relative;
	padding: 20px 20px 0 20px;
	margin-bottom: 60px;
	@media (min-width: 768px) {
		margin-bottom: 77px;
		padding: 20px 32px 0 32px;
	}
	@media (min-width: 1280px) {
		margin-bottom: 97px;
		padding: 20px 16px 0 16px;
	}
}

.menu__navbar {
	display: flex;
	align-items: flex-end;
	margin-right: 50px;
	@media (min-width: 768px) and (max-width: 1279px) {
		margin: 0 0 0 30px;
	}
}

.menu__navbar-list > li {
	position: relative;
}

.menu__navbar-sub-list {
	border: 1px solid var(--accent-text-color);
	border-radius: 4px;
	position: absolute;
	top: 100%;
	left: 0;
	// padding: 10px;
	min-width: 210px;
}
.menu__navbar-sub-list > li {
	position: relative;
}

.menu__navbar-sub-list > li .menu__navbar-sub-link {
	display: inline-block;
	padding: 12px 0 12px 12px;
	font-family: var(--poppins-family);
	font-style: normal;
	font-weight: var(--poppins-font-weight-400);
	font-size: 18px;
	line-height: 1.33;

	letter-spacing: 0.02em;
	color: inherit;
}
.menu__navbar-sub-list > li:hover {
	background-color: var(--accent-text-color);
}
.menu__navbar-sub-list > li:hover .menu__navbar-sub-link {
	color: var(--main-white-color);
}
.menu__navbar-sub-list > li:not(:last-child)::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 1px;
	width: 100%;
	background-color: var(--accent-text-color);
}
.menu__navbar-link-arrow {
	display: none;
}
.header__logo {
	@media (min-width: 768px) and (max-width: 1279px) {
		z-index: 10;
	}
}
.header__search-form {
	max-width: 320px;
	width: 100%;
	display: flex;
	border: 2px solid var(--accent-text-color);
	border-radius: 4px;
	height: 40px;
	margin: 0 0 40px 0;
	@media (min-width: 768px) and (max-width: 1279px) {
		display: none;
	}
	@media (min-width: 1280px) {
		margin: 0;
	}
}
.header__search-form-button {
	position: relative;
	border-radius: 4px;
	background-color: transparent;
	border: none;

	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px 0 0;
}
.header__search-form-button::after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	background-color: var(--accent-text-color);
	width: 2px;
	height: 100%;
}
.menu__serch-icon {
	width: 24px;
	height: 24px;
}
.header__search-form-input {
	width: 100%;
	border: none;
	background-color: transparent;

	font-family: var(--poppins-family);
	font-style: normal;
	font-weight: var(--poppins-font-weight-400);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.02em;
	color: var(--alternative-text-color);
}

.form-hide {
	display: none;
	@media (min-width: 768px) and (max-width: 1279px) {
		display: flex;
		border: 2px solid var(--accent-text-color);
		border-radius: 4px;
		height: 40px;
		margin: 0 0 0 100px;
	}
}

// ------------------------

.menu__test {
	display: flex;
	flex-direction: column-reverse;
	@media (min-width: 1280px) {
		gap: 170px;
		flex-direction: row;
	}
}

.header__switch {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 8px;
	margin: 0 0 40px 0;
	@media (min-width: 768px) and (max-width: 1279px) {
		margin: 0 0 57px 0;
	}
	@media (min-width: 1280px) {
		margin: 0;
		gap: 12px;
	}
}

.menu__navbar-list {
	@media (min-width: 1280px) {
		display: flex;
		align-items: center;
		gap: 60px;
	}
}

.menu__navbar-link {
	text-decoration: none;
	padding: 18px 0 18px 0;

	font-family: var(--poppins-family);
	font-style: normal;
	font-weight: var(--poppins-font-weight-400);
	font-size: 28px;
	line-height: 1;
	letter-spacing: 0.02em;
	color: inherit;
	@media (min-width: 1280px) {
		font-size: 18px;
		line-height: 1.33px;
		padding: 0;
	}
}
.menu__navbar-link-favourite {
	text-decoration: none;
	cursor: pointer;
	padding: 18px 0 18px 0;

	font-family: var(--poppins-family);
	font-style: normal;
	font-weight: var(--poppins-font-weight-400);
	font-size: 28px;
	line-height: 1;
	letter-spacing: 0.02em;
	color: inherit;
	@media (min-width: 1280px) {
		padding: 0;
		font-size: 18px;
		line-height: 1.33;
	}
}
.menu__test {
	@media (min-width: 768px) and (max-width: 1279px) {
		align-items: center;
	}
}

.header__menu {
	@media (max-width: 1279px) {
		position: fixed;
		z-index: 2;
		padding: 27px 20px;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: var(--main-white-color);
		transition: all var(--general-transition-effect);
	}
	@media (min-width: 768px) and (max-width: 1279px) {
		padding: 33px 20px;
	}
}
.header__menu.dark._active {
	background-color: var(--main-color);
}
@media (min-width: 1280px) {
	.header__wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	.menu-icon {
		display: none;
	}
}
@media (min-width: 767px) {
	.menu__navbar-sub-list {
		transform: translate(0, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

@media (max-width: 1279px) {
	.header__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.menu-icon {
		z-index: 5;
		display: block;
		cursor: pointer;
	}
	.header__menu._active {
		right: 0;
	}
	.menu__navbar-list > li {
		flex-wrap: wrap;
	}
	.menu__navbar-list > li._active .menu__navbar-sub-list {
		margin-top: 10px;
		display: block;
	}
	.menu__navbar-sub-list {
		display: none;
	}
}

// ------------------------
body._pc .menu__navbar-list > li:hover .menu__navbar-sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu__navbar-list > li {
	display: flex;
	align-items: center;
}
body._touch .menu__navbar-link {
	flex: 1 1 auto;
}
body._touch .menu__navbar-link-arrow {
	display: block;
	margin: 0 0 0 5px;
}

body._touch .menu__navbar-list > li._active .menu__navbar-sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menu__navbar-list > li._active .menu__navbar-link-arrow {
	transform: rotate(-180deg);
}
body._lock {
	overflow: hidden;
}
